*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

i{
	font-weight: bold;
	color: white;

}

nav{
	background-color: #35CF00;
}

body{
	background-color: #FCF2FF;
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1rem;
	font-weight: bolder;
}

.nav section a{
	text-decoration: none;
	color: black;
}

.Menu-Hamburguesa{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.Lista-Opciones{
	width: 15%;
	visibility: hidden;
	opacity: 0;
}

.Lista-Opciones__Items{
	font-family: 'Poppins';
	list-style: none;
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
	/*border-left: black solid medium;*/
}

.Lista-Opciones__Items:hover{
	transition: all 1s ease;
}

.Lista-Opciones ul li a{
	padding: 5px;
	text-decoration: none;
	color: black;
	order: 1;
}

.Lista-Opciones ul li a:hover{
	background-color: #f4f6f6;
}

.Lista-Opciones__Lista-Principal{
	line-height: 30px;
}
	
.Lista-Opciones__Items-Principal{
	padding: 5px;
	margin-bottom: 0;
}

.Lista-Opciones__SubItems{
	display: none;
}

.Lista-Opciones ul li:hover > ul li{
	transition: all 1s ease;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: 10px;
	font-family: 'Poppins';
	list-style: none;
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
}

.Lista-Opciones-Show{
	transition: 1s ease;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
	width: 15%;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 0px 2px 8px #999;
	visibility: visible;
	opacity: 1;
	flex-grow: 1;
	order: 1;
	overflow: hidden;
}

.Contenedor-Formulario{
	/*width: 15%;*/
	visibility: hidden;
	opacity: 0;
	order: 3;
}

.Contenedor-Formulario-Show{
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
	background-color: white;
	width: 20%;
	height: 100%;
	margin-left: auto;
	box-shadow: 0px 2px 8px #999;
	transition: 1s ease;
	opacity: 1;
	visibility: visible;
	flex-grow: 1;
	order: 3;
	overflow: hidden;
}

#Imagen-Formulario{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.Contenedor-Imagen-Formulario{
	background-color: blue;
	margin-bottom: 10px;
}

.Editar{
	font-size: 1rem;
	color: green;
	text-decoration: none;
	font-weight: bolder;
}

.Formulario-Contenedor-Texto{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 10px;
}

.Btn-Save{
	border: none;
	padding: 5px;
	margin: auto;
}

input{
	border: none;
	outline: none;
	line-height: 30px;
	height: 30px;
	width: 15vw;
	border-bottom: 1px solid #CECECE;
}

.Contenedor-Formulario div div a{
	text-decoration: none;
}

.Contenedor-Formulario a{
	text-decoration: none;
}

.Contenido-Principal{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 65%;
	flex-wrap: wrap;
	/*flex-grow: 2;*/
	order: 2;
}

.Contenendor-Cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.Card{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px 5px;
	margin-bottom: 0;
	padding: 10px;
	box-shadow: 0px 2px 8px #999;
	background-color: #fff;
	overflow: hidden;
}


#Imagen-Usuario{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.Card-Calificacion{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.Card-Texto{
	font-size: 1rem;
	color: black;
	padding: 2px 0px 2px 0px;
	margin: 0;
}

.Card-Imagen{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;
	align-items: center;
	flex-wrap: wrap;
}

.Card-Contenido{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Card-Texto-Calificacion{
	font-weight: bolder;
	font-size: 5rem;
}

.Card-Texto-Nombre{
	font-weight: bolder;
}

.Card-Texto-Contenido{
	line-height: 25px;
}

.Card-Texto-Titulo-Calificacion{
	font-weight: bolder;
}

.Card-Texto-Estado{
	font-weight: bolder;
}

.Card-Texto-Estado span{
	font-size: 1.5rem;
	color: orange;
}

.Contenedor-Cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.Cards-Botones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 500px;
}

.Boton-Cards{
	display: flex;
}

.Card-Texto-Boton{
	color: white;
	font-weight: bolder;
}

.Contenedor-Empresas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 30%;
	margin-left: 5px;
}

.Card-Contenido-Empresas{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	/*padding: 5px;*/
}

.Card-Empresas{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 30%;
	margin-top: 10px;
	margin-left: 10px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 2px 8px #999;
	background-color: white;
	height: auto;
}

.Card-Imagen-Banner{
	width: 100%;
	height: 70%;
	border-radius: 10px;
}

#Imagen-Banner-Empresa{
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Card-Contenido-Texto{
	width: 80%;
	padding-left: 10px;
}

.Card-Contenido-Texto > h2{
	font-size: 0.8rem;
	font-weight: bolder;
}

.Card-Contenido-Texto h2 i{
	color: black;
}

.Card-Imagen-Empresa{
	width: 15%;
	padding-right: 10px;
}

#Imagen-Miniatura-Empresa{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.Contenedor-Cantidad{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.Contenedor-Formulario-Agregar-Empresa{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 50%;    
	height: 80%;
	background-color: white;
	margin-top: 10px;
}

.Contenedor-Imagenes-Formulario-Empresas{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.Imagen-Portada-Empresas{
	width: 100%;
	height: 30%;
}

.Imagen-Perfil-Empresas{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid gray;
}

.Contenedor-Inputs-Empresas{
	width: 90%;
}

.Contenedor-Inputs-Empresas input{
	width: 100%;
}

.Contenedor-Inputs-Empresas textarea{
	width: 100%;
}

#Empresa-Para-Editar{
	cursor: pointer;
}

@media (max-width: 1000px){
	.main{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.Lista-Opciones{
		order: 1;
		height: 0;
	}

	.Lista-Opciones-Show{
		order: 1;
		width: 100vw;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		background-color: #FFF;
		padding: 10px;
		box-shadow: 0px 0px 8px #999;
	}

	.Lista-Opciones__Lista-Items{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.Lista-Opciones__Items:hover{
		transition: all 1s ease;
	}

	.Lista-Opciones__Items a:hover{
		background-color: #f4f6f6;
	}

	.Lista-Opciones ul li:hover > ul{
		transition: all 1s ease;
		display: flex;
		margin-top: 10px;
		list-style: none;
	}

	.Contenedor-Formulario{
		order: 2;
		height: 0;
	}

	.Contenedor-Formulario-Show{
		margin-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 10px;
		background-color: white;
		width: 100%;
		height: auto;
		margin-right: 0;
		box-shadow: 0px 2px 8px #999;
		order: 2;
	}

	input{
		border: none;
		outline: none;
		line-height: 30px;
		height: 30px;
		width: 80%;
		border-bottom: 1px solid gray;
	}	

	.Contenido-Principal{
		align-content: flex-start;
		margin: auto;
		order: 3;
		width: 95%;
	}

	.Contenedor-Empresas{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		
	}

	.Contenedor-Formulario-Agregar-Empresa{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;    
		height: 80%;
		background-color: white;
		margin-top: 10px;
	}
}

@media (max-width:  750px){
	.Card-Empresas{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}

	.Card-Contenido-Empresas{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.Card-Imagen-Banner{
		width: 100%;
		height: 40%;
		border-radius: 10px;
	}

	.Card-Contenido-Texto{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}
	
	.Card-Imagen-Empresa{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 80%;
		margin-bottom: 10px;
	}
}