/* --------------------------- Estilos globales --------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: #fff2ff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
}

/* --------------------------- Estilo Iconos --------------------------- */
i{
	font-weight: bold;
	color: white;
}

/* --------------------------- Estilos etiqueta nav --------------------------- */
header{
	background-color: #b70000;
	box-shadow: 0px 0px 8px #ccc;
}

/* --------------------------- Estilos menu navegacion --------------------------- */
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.3rem;
	font-weight: bolder;
	width: 100%;
}

header div a{
	text-decoration: none;
	color: black;
}

.Logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.Logo img{
	max-width: 60px;
	max-height: 60px;
	margin-right: 5px;
}

.Logo h1{
	color: white;
	font-weight: bold;
	margin: 0;
}

.Menu-Hamburguesa{
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.Menu-Navegacion{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
}

.Contenedor-Principal-Botones-Header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Contenedor-Botones-Header{
	margin-right: 5px;
}

.Botones-Header{
	outline: none;
	border: none;
	padding: 5px;
	background-color: #b70000;
}

.Texto-Header{
	font-size: 1.3rem;
	line-height: 30px;
	font-weight: bolder;
	margin: 0;
	color: white;
}

.Btn-Sign-Up{
	background-color: #c50000;
}

/* --------------------------- Estilos Barra lateral --------------------------- */
.Lista-Opciones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 100%;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 2px 8px #999;

}

.Lista-Opciones__Items{
	font-family: 'Poppins';
	list-style: none;
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Lista-Opciones ul li a{
	padding: 5px;
	text-decoration: none;
	color: black;
}

.Lista-Opciones ul li a:hover{
	background-color: #f4f6f6;
}

.Lista-Opciones__Lista-Items{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.Contenido-Principal{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 5px;
}

.Contenedor-Ordena-Ahora{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: white;
	flex-wrap: wrap;
}

.Contenedor-Ordena-Ahora__Contenidos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 50%;
}

.Contenedor-Ordena-Ahora__Contenido1{
	padding: 5px;
	background-color: #d8000a;
	color: white;
}

.Contenedor-Ordena-Ahora__Contenido1 img{
	width: 30%;
}

.Contenedor-Ordena-Ahora__Contenido1-Titulo{
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin: 0;
}

.Contenedor-Ordena-Ahora__Contenido1-Texto{
	font-size: 1.5rem;
	text-align: justify;
	margin: 0;
}

.Contenedor-Ordena-Ahora__Contenido2{
	width: 50%;
	flex-grow: 1;
}

.Contenedor-Ordena-Ahora__Contenido2 img{
	width: 70%;
}

.Contenedor-Como-Trabajamos{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 0px 10px #ccc;
}

.Contenedor-Como-Trabajamos__Titulo{
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 10px;
	font-weight: bolder;
}

.Contenedor-Como-Trabajamos__Subtitulo{
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin: 10px;
}

.Contenedor-Como-Trabajamos__Texto{
	font-size: 1rem;
	font-weight: bold;
	margin: 10px;
}

.Contenedor-Trabaja-Con-Nosotros{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	background-color: white;
}

footer{
	display: flex;
	flex-direction: column;
	margin: 0;
	flex-wrap: wrap;
	align-self: flex-end;
	margin-top: auto;
	width: 100%;
}

.Container-Contenido-Footer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	background-color: #b70000;
	margin-bottom: 0;
	padding: 10px;
	flex-grow: 1;
}

.Container-Copyright{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #b70000;
}

.Container-Copyright p{
	margin-bottom: 0;
	font-weight: bolder;
	color: white;
}

.Footer-Contacto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.Footer-Menu h2 a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.Footer-Contacto h2 a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.Footer-Contacto__Titulo{
	color: white;
	font-size: 1rem;
	font-weight: bolder;
	text-transform: uppercase;
}

.Formulario-Registro form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 40%;
	padding: 10px;
	background-color: white;
	box-shadow: 0px 0px 10px #ccc;
	margin-bottom: 10px;
}

.Formulario-Registro form i{
	color: black;
}

.Contenedor-Individual{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#Formulario .Contenedor-Individual select{
	border: none;
	height: 30px;
	font-weight: bolder;
	background-color: white;
}

.Formulario-Registro form input{
	outline: none;
	border: none;
	line-height: 40px;
	margin: 10px;
	border-bottom: 1px solid blue;
	font-weight: bold;
}

.Formulario-Registro form .Validar-Correcto{
	border-bottom: 1px solid #00ff00;
}

.Formulario-Registro form .Validar-Incorrecto{
	border-bottom: 1px solid red;
}

.Icono-Validar{
	display: none;
}

.Formulario-Registro form button{
	border: none;
	outline: none;
	line-height: 30px;
	background-color: #00ff00;
	padding: 10px;
	border-radius: 30px;
	color: white;
	font-weight: bolder;
}

.Formulario-Registro form h1{
	font-size: 2rem;
	font-weight: bolder;
	margin-top: 10px;
}

.Formulario-Registro form h2{
	font-size: 1rem;
	font-weight: bolder;
	margin-top: 10px;
}

.Formulario-Registro form h2 a{
	text-decoration: none;
}

.Formulario-Registro form span{
	display: none;
}

.Formulario-Registro form .Span-Error-Login-Show{
	display: inline;
	font-weight: bolder;
}

.Contenedor-Categorias{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #fff8fd;
}

.Contenedor-Categorias .Container-Card-Categorias{
	display: flex;
	flex-direction: row;
	flex-basis: 90%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 5px;
	cursor: pointer;
}

.Contenedor-Categorias h1{
	font-size: 2.5rem;
	font-weight: 700;
}

.Card-Categoria{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px;
	width: 20%;
	background-color: white;
	border-radius: 65%;
}

.Card-Categoria img{
	width: 60%;
}

.Card-Categoria h2{
	font-size: 1.1rem;
	font-weight: bolder;
	color: black;
	align-self: center;
}

@media (max-width: 1000px){
	.main{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}	

	.Card-Categoria{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 5px;
		width: 30%;
		background-color: white;
		border-radius: 65%;
	}
}

@media (max-width: 700px){
	.Contenedor-Categorias .Container-Card-Categorias{
		width: 100%;
		margin-top: 5px;
	}

	.Card-Categoria{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 5px;
		width: 40%;
		background-color: white;
		border-radius: 65%;
	}
	.Contenedor-Ordena-Ahora{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 5px;
		background-color: white;
		flex-wrap: wrap;
	}

	.Contenedor-Ordena-Ahora__Contenido1{
		width: 100%;
	}

	.Contenedor-Ordena-Ahora__Contenido2{
		width: 70%;
	}
}

@media (max-width: 500px){
	.Card-Categoria{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 5px;
		width: 60%;
		background-color: white;
		border-radius: 65%;
	}

	.Card-Categoria h2{
		font-size: 1rem;
	}
}

@media (max-width:  380px){
	body{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}

	.nav{
		display: flex;
		flex-direction: column;
	}
}